{% extends "base_app.html" %}

{% block title %}
    Компании на карте Яндекс
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Компании на карте Яндекс</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div id="map" style="width: 600px; height: 400px"></div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ YMAPS_API_KEY }}&lang=ru_RU" type="text/javascript"></script>
    <script src="{% static "js/1.js" %}"></script>
    <script src="//api.bitrix24.com/api/v1/"></script>
{% endblock %}